
.header {
    text-align: center;
    padding-bottom: 50px;
}

.basket{
    position: fixed;
    top: 0;
    right: 0;
    padding-right:5px;
    padding-top: 5px;
}

#basket-win {
    display: none;
    justify-content: center;
    text-align: center;
    padding-bottom:20px ;
}

#basket-div-content {
    width: 600px;
    height: 500px;
    border: 1px solid #888;

}

.category-btn-div {
    display: flex;
    justify-content: center;
    padding-bottom:20px ;
}

.open-category-btn {
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.category{
    padding-bottom:20px;
    text-align: center;
}


.filter {
    padding-bottom: 20px;

}

#filter-btn-div {
    padding-bottom: 20px;
}

.good-div {
    display: flex;
    justify-content: center;
}

.good {
   display: flex;
   justify-content: center;
   align-items: end;
   height: 100px;
   width: 120px;
   border: 1px solid black;
   background-color: aliceblue;
}
.hide {
    display: none;
}

