.header {
    text-align: center;
}

.bin{
    position: fixed;
    top: 0;
    right: 0;
    padding-right:5px;
    padding-top: 5px;
}

.category-btn-div {
    display: flex;
    justify-content: center;
    padding-bottom:20px ;
}

.open-category-btn {
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.category{
    padding-bottom:20px;
    text-align: center;
}

#category1 {
    display: none;
    justify-content: center;
}
#category2 {
    display: none;
    justify-content: center;
}

#category3 {
    display: none;
    justify-content: center;
}

.filter {
    display: none;
    padding-bottom: 20px;
}

#filter-btn-div {
    padding-bottom: 20px;
}

#img {
   height: 100px;
   width: 100px;
}


